In [1]:
! git clone https://github.com/KurdishBLARK/InterdialectCorpus.git

Cloning into 'InterdialectCorpus'...
remote: Enumerating objects: 81, done.
remote: Counting objects: 100% (81/81), done.
remote: Compressing objects: 100% (41/41), done.
remote: Total 81 (delta 46), reused 71 (delta 39), pack-reused 0
Unpacking objects: 100% (81/81), done.
Checking out files: 100% (37/37), done.

In [2]:
with open('/content/InterdialectCorpus/CKB-ENG/CKB-ENG.CKB_no_tag.txt') as f:
    ku_list = f.readlines()
ku_list = [x.strip() for x in ku_list]
with open('/content/InterdialectCorpus/CKB-ENG/CKB-ENG.ENG_no_tag.txt') as f:
    en_list = f.readlines()
en_list = [x.strip() for x in en_list]
print(ku_list[100])
print(en_list[100])

"16ی ئازار هێزەکانمان لە عەفرین لە دژی خاڵێکی پشکنینی سەر بە چەتەکان چالاکیەکیان ئەنجامدا. لە ئەنجامی چالاکیەکەدا 4 چەتە کوژران.
On March 16, HRE fighters carried out a sabotage operation against Turkish-backed mercenaries at a checkpoint in Afrin, leaving 4 of them wounded.

In [3]:
ku_len = [len(x) for x in ku_list]
en_len = [len(x) for x in en_list]
min(ku_len), max(ku_len), min(en_len), max(en_len)

(10, 364, 13, 469)

In [4]:
import pandas as pd
df = pd.DataFrame()
df['input'] = ['en: ' + x.lower() + ' ku:' for x in en_list]
df['output'] = ku_list
df.head()

,input,output
0,en: while people in most parts of the world re...,بە هۆی پەتایی کۆڕۆناوە بەشێکی زۆر لە هاووڵاتیا...
1,en: ​​kurds and armenians lived together in th...,گوندی حاجیکاش شوێنی ژیانی هاوبەشی کورد و ئەرمە...
2,en: the village was burnt down three times by ...,ئەو گوندە 3 جار لەلایەن دەوڵەتی تورکیاوە سوتێنرا.
3,en: the turkish state slaughtered a high numbe...,دەوڵەتی تورکیا ساڵی 1930 و لەکاتی کۆمەڵکوژیی ز...
4,"en: after the massacre, the village was comple...",گوندەکە لە دوای ئەو کۆمەڵکوژییە بەتەواوی چۆڵکرا.

In [5]:
from sklearn.model_selection import train_test_split
df_train, temp = train_test_split(df, test_size=0.2, random_state=45)
df_dev, df_test = train_test_split(temp, test_size=0.5, random_state=45)

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
! mkdir /content/en_ku_data
df_train.to_csv('/content/en_ku_data/en_ku_train.csv', index=False)
df_dev.to_csv('/content/en_ku_data/en_ku_dev.csv', index=False)
df_test.to_csv('/content/en_ku_data/en_ku_test.csv', index=False)
! zip /content/en_ku_data.zip /content/en_ku_data
! cp /content/en_ku_data.zip /content/drive/MyDrive/datasets/en_ku_data.zip

  adding: content/en_ku_data/ (stored 0%)

Data link: https://drive.google.com/file/d/1PmO-wHZorQf1SQJc8ecwwRiyOsGhzVZI/view?usp=sharing